<%= render partial: 'shared/header', locals: { page_name: "飲募作成" } %>
<div class="main">
  <div class="recruit-new-wrap">
    <p>飲み仲間を募集</p>
    <p>いま</p>
    <%= render partial: "now_form", locals: {recruit: @recruit_now, btn_text: "作成"} %>
  </div>
</div>
<%= render 'shared/footer' %>