<%= render partial: 'shared/header', locals: { page_name: "飲募作成" } %>
<div class="main">
  <div class="recruit-new-wrap">
    <p>飲み仲間を募集</p>
    <p>これから</p>
    <%= render partial: "form", locals: {recruit: @recruit_later} %>
  </div>
</div>
<%= render 'shared/footer' %>