<%= render partial: 'shared/header', locals: { page_name: @page_name } %>

<div class="recruits-confirmation" id="recruits-confirmation" data-recruit-id="<%= @recruit.id %>"></div>

<div class="main-room">

  <div class="chat-main" id="chat-main">
    <%= render partial: 'chat', collection: @messages, as: :message %>
  </div>

  <div class="chat-bar">
    <div class="flex-area">
      <div class="flex-area-dummy" aria-hidden="true"></div>
      <textarea placeholder="メッセージを入力" class="chat-area" rows="1"></textarea>
    </div>
    <i class="fas fa-file-image file-attach-btn"></i>
    <div class="send-btn">送信</div>
  </div>

  <div class="back" id="back"></div>
</div>