@import "./variables.scss";

//popup用
.back{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;

  //newのdisplay用
  .item-text{
    outline: none;
    width: 90%;
    border: none;
    text-align: end;
    background-color: rgb(252, 220, 162);
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .item-select{
    outline: none;
    border: none;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(252, 220, 162);
    text-align: center;

    &::-ms-expand {
      display: none;
    }
  }

  .fa-user-circle{
    user-select: none;
    font-size: 30px;
    color: skyblue;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 10px;
  }


  //参加者リスト用
  .entries-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .entries-list{
      background-color: white;
      border: 3px solid #{$main_color};
      margin: 0 auto 20px;
      max-height: 530px;
      overflow: scroll;
      
      .entry-wrap{
        display: flex;
        border-bottom: 1px dotted #{$btn_color};
        padding: 15px 30px;
        
        &:last-child{
          border: none;
        }
        
        .entry-user-image{
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: $box_shadow;
        }
        
        .entry-user-name{
          font-size: 25px;
          padding-left: 20px;
          
          span{
            font-size: 15px;
            padding-left: 20px;
            color: $id_color;
          }
        }
      }
    }
  }
}

.center{
  margin-top: 200px !important;
}