@import "../variables.scss";

$error_message_height: 50px;

.error_message{
  height: $error_message_height;
  background-color: rgb(0, 230, 31);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: $error_message_height;
  user-select: none;
}