@import "../variables.scss";

.main{
  padding-top: $header_height;
  min-height: calc(100vh - #{$header_height + $footer_height});
  background-color: rgb(240, 240, 240);
}

@media (max-width: 1100px){
  .main{
    padding-top: $tab_header_height;
    min-height: calc(100vh - #{$tab_header_height + $tab_footer_height});
  }
}

@media (max-width: 500px){
  .main{
    padding-top: $phone_header_height;
    min-height: calc(100vh - #{$phone_header_height + $phone_footer_height});
  }
}
