<% current_user_recruit = current_user.recruit? %>
<% current_user_entry = current_user.entry? %>

<% if current_user.matchers.length > 0 %> <%# フレンドが1人以上かつ、現在のページが募集一覧であれば %>
  <% if current_user_recruit %> <%# 募集中であれば %>
    <%= link_to "マイ募集ルーム", recruitment_path(current_user_recruit), class: "btn submit-btn" %>
  <% elsif current_user_entry %> <%# 参加していれば %>
    <%= link_to "参加中のルーム", recruitment_path(current_user_entry.recruit), class: "btn submit-btn" %>
  <% else %> <%# 募集も参加もしていなければ %>
    <div class="new-recruit-wrap">
      <div class="btn submit-btn" id="modal_btn">募集する</div>
      <ul class="menu-list" id="btn-menu">
        <li class="menu" id="recruit-later">これから</li>
        <li class="menu" id="recruit-now">いま</li>
      </ul>
    </div>
  <% end %>
<% end %>