<header>
  <div class="left">
    <%= link_to "instakt", root_path %>
    <% if page_name.present? %>
      <span><%= page_name %></span>
    <% end %>
  </div>

  <div class="right">
    <% if user_signed_in? %>
      <%= image_tag current_user.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, id: "user-icon" %>
    <% end %>
  </div>
</header>