@import "./variables.scss";

$chat_bar_height: 90px;
$recruit_confirmation_height: 100px;

.main-room{
  padding-top: $header_height;
  padding-bottom: $chat_bar_height;
  min-height: calc(100vh - #{$header_height + $chat_bar_height});
  background-color: rgb(240, 240, 240);
  overflow-y: scroll;

  //チャット表示欄
  .chat-main{
    width: 750px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;

    //他人のチャットUI
    .other-chat-area{
      display: flex;
      margin-top: 30px;
      max-width: 75%;

      .other-left-wrap{

        .other-user-image{
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: $box_shadow;
        }
      }

      .other-center-wrap{
        margin-left: 15px;
        
        .other-user-name{
          color: rgb(24, 20, 16);
          font-size: 15px;
          font-weight: bold;
          
          span{
            margin-left: 10px;
            font-size: 12px;
            color: $id_color;
          }
        }
        
        .other-chat{
          background-color: rgb(255, 223, 163);
          color: black;
        }
      }

      .other-right-wrap{
        margin-left: 10px;
        align-self: flex-end;

      }
    }

    //自分のチャットUI
    .my-chat-area{
      display: flex;
      margin-top: 30px;
      max-width: 75%;
      align-self: flex-end;

      .my-left-wrap{
        align-self: flex-end;
        
        .my-chat-time{
          
        }
      }
      
      .my-right-wrap{
        margin-left: 10px;

        .my-chat{
          background-color: rgb(165, 107, 0);
          color: white;
        }
      }
    }
  }

  //チャット入力バー
  .chat-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(100, 100, 100);
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .chat-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
      
      .flex-area{
        position: relative;
        
        .flex-area-dummy{
          padding: 5px 10px;
          font-size: 17px;
          border-radius: 5px;
          width: 750px;
          border: 2px solid;
          overflow: hidden;
          visibility: hidden;
          box-sizing: border-box;
          white-space: pre-wrap;
          word-wrap: break-word;
          overflow-wrap: break-word;
          min-height: 40px;
        }
        .chat-area{
          resize: none;
          padding: 5px 10px;
          font-size: 17px;
          border-radius: 5px;
          width: 750px;
          height: 100%;
          border-width: 2px;
          transition: .2s;
          
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          overflow: hidden;
          box-sizing: border-box;
          
          &:focus{
            outline: none;
            border-color: $main_color;
          }
        }
      }
      
      .file-attach-btn{
        font-size: 25px;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
        transition: .2s;
        color: white;
        
        &:hover{
          color: $main_color;
        }
        
        &:active{
          position: relative;
          top: 1px;
        }
      }
      
      .hidden{
        display: none;
      }
      
      .send-btn{
        margin-left: 20px;
        width: 50px;
        height: 38px;
        line-height: 38px;
        border-radius: 5px;
        border: 1px solid #{$main_color};
        color: $main_color;
        user-select: none;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        background-color: transparent;
        transition: .1s;
        
        &:hover{
          background-color: $main_color;
          color: white;
        }
        
        &:active{
          position: relative;
          top: 1px;
        }

        &:focus{
          outline: none;
        }
      }
    }
  }
}

.chat{
  padding: 5px 10px !important;
  border-radius: 15px !important;
  font-size: 17px !important;
}

//添付された画像ファイルのスタイル
.attached-image{
  height: 150px;
  max-width: 500px;
  box-shadow: $box_shadow;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
}

.image-wrap{
  position: relative;

  .close-btn{
    position: absolute;
    top: 6px;
    right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 21px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    transition: .2s;
    color: $main_color;
    border: 1px solid #{$main_color};
    
    &:hover{
      color: white;
      background-color: $main_color;
    }
  }
}

//募集内容確認用
.recruits-confirmation{
  width: 100vw;
  position: fixed;
  top: calc(#{$header_height} + 10px);
  display: none;

  .recruit-wrap{
    width: 500px;
    margin: 0 auto;
  }
}