@import "./variables.scss";

.top-image{
  background-image: image-url("top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  padding: 7vh 0;
  position: relative;
  text-shadow: $text_shadow;

  &::before{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }

  .top-title-wrap{
    color: #fff;
    z-index: 5;
    
    .top-title{
      font-size: 100px;
      font-weight: bold;
    }
    
    .top-message{
      font-size: 25px;
      margin-top: 30px;

       span{
         text-decoration: underline;
         font-size: 40px;
         font-weight: bold;
       }
    }
  }
  
  //ログインラッパー
  .top-login-wrap{
    z-index: 5;
    margin-top: 400px;
    color: white;

    .top-login-btn{
      display: inline-block;
      border: 2px solid white;
      border-radius: 5px 5px;
      padding: 15px 25px;
      text-decoration: none;
      color: white;
      user-select: none;
      font-size: 30px;
      font-weight: bold;
      transition: .1s ease-out;

    
      &:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        text-shadow: none;
        border: 2px solid rgb(83, 203, 250);
      }
    
      img{
        width: 50px;
        vertical-align: middle;
        margin-right: 15px;
      }
    }

    .top-login-text{
      font-size: 15px;
      margin-top: 20px;
    }
  }

}

// about関連
.about-container{
  padding: 80px 200px;

  .about-title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }

  .about-tab-wrap{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 10px;

    .about-tab{
      border-bottom: 4px solid rgb(194, 194, 194);
      color: rgb(194, 194, 194);
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      padding: 20px 0;
      user-select: none;
      transition: .2s;

      &:hover{
        background-color: $btn_hover_backColor;
      }
    }
    .select-tab{
      border-bottom: 4px solid #{$main_color};
      color: $main_color;
    }
  }

  .about-content{
    display: flex;
    justify-content: center;
    padding: 40px 0;

    .change{
      align-self: center;
      padding: 5px;
      cursor: pointer;
      color: $btn_color;
      transition: .2s;

      .fas{
        font-size: 50px;
      }

      &:hover{
        color: $main_color;
      }

      &:active{
        position: relative;
        top: 3px;
      }
    }

    .about-item{
      display: flex;
      justify-content: center;
      padding: 0 50px;

      img{
        width: 55%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
      }
      p{
        width: 45%;
        padding-left: 20px;
      }
    }
  }
}