@import "./variables.scss";

.friend-container{
  width: 1200px;
  margin: 0 auto;

  //タブ全体
  .friend-tab-wrap{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 50px;

    //各タブ
    .friend-tab{
      border-bottom: 4px solid rgb(194, 194, 194);
      color: rgb(194, 194, 194);
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      padding: 20px 0;
      user-select: none;
      transition: .2s;
      
      &:hover{
        background-color: $btn_hover_backColor;
      }
    }
    
    //セレクト中のタブ
    .select-tab{
      border-bottom: 4px solid #{$main_color};
      color: $main_color;
    }
  }


  //フレンド一覧関連
  .list-wrap{
    width: 700px;
    margin: 0 auto;
    padding: 50px 0;

    //各フレンド
    .list-user-content{
      padding: 20px 40px;
      border-top: 1px solid #{$btn_color};
      display: flex;
      align-items: center;
      
      &:last-child{
        border-bottom: 1px solid #{$btn_color};
      }

      .list-user-image{
        border-radius: 50%;
      }
      .list-user-name{
        color: black;
        font-size: 30px;
        flex-grow: 1;
        padding: 0 30px;

        span{
          font-size: 20px;
          color: rgb(150, 150, 150);
          padding-left: 30px;
        }
      }

      $heart_hover_size: 54px;
      .list-user-heart{
        width: $heart_hover_size;
        height: $heart_hover_size;
        text-align: center;

        //ハート
        .fa-heart{
          line-height: $heart_hover_size;
          color: white;
          text-shadow: 0 0 10px black;
          cursor: pointer;
          user-select: none;
          transition: .2s;

          &:hover{
            font-size: $heart_hover_size;
            text-shadow: 0 0 20px rgb(255, 29, 67);
          }
        }

        .good{
          color: rgb(230, 53, 83);
          text-shadow: 0 0 10px rgb(255, 29, 67);
        }
      }
    }

    .empty-message{
      color: $btn_color;
      font-size: 30px;
      text-align: center;
      padding-top: 100px;
    }
    
    .guide{
      color: black;
      font-size: 17px;
      text-align: center;
    }
  }
}