$header_height: 75px;
$footer_height: 50px;
$text_shadow: 0 0 5px rgba(0, 0, 0, 0.9);
$box_shadow: 0 0 5px rgba(0, 0, 0, 0.9);
$main_color: orange;
$btn_color: rgb(165, 107, 0);
$btn_hover_backColor: rgba(131, 131, 131, 0.1);
$id_color: rgb(150, 150, 150);

// タブレット
$tab_header_height: 75px;
$tab_footer_height: 50px;

// スマホ
$phone_header_height: 40px;
$phone_footer_height: 30px;